@import "reset.css";

@font-face {
    font-family: "Lato";
    src: url('../img/Lato-Regular.ttf');
}
@font-face {
    font-family: "LatoBlack";
    src: url('../img/Lato-Black.ttf');
}
@font-face {
    font-family: "LatoLight";
    src: url('../img/Lato-Light.ttf');
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato";
    font-size:20px;
}

a {
    text-decoration:none;
    color:#fff;
}

#alerok {
    display:initial;
}
#alerko {
    display:none;
}

#scanko, #scanok {
    text-transform:uppercase;
    color:#e93824;
    font-family: "LatoBlack";
    font-weight: bold;
    font-size:48px;
    text-align:center;
    height: 32%;
}

#scanko h1 {
    top: 11%;
    position: absolute;
    margin-left: 20px;;
}

#scanok h1 {
    top: 11%;
    position: absolute;
    margin-left: 31px;
    color:#00b9ee;
}

#infos {
    background-color: #e93824;
    color:#fff;
    font-family: "LatoLight";
    height: 50%;
    vertical-align: middle;
}

#infoks {
    background-color: #00b9ee;
    color:#fff;
    font-family: "LatoLight";
    height: 50%;
    vertical-align: middle;
}

.title {
    font-family: "Lato";
    padding: 40px 25px 10px 25px;
    display: inline-block;
    font-size: 36px;
}
.description {
    padding: 0 25px 20px;
}
.button {
    background-color:#a92719;
    padding: 14px 0 14px 25px;
    font-size: 17px;
    margin: 1px 0;
}
.buttonok {
    background-color:#1985a9;
    padding: 14px 0 14px 25px;
    font-size: 17px;
    margin: 1px 0;
}
#buttonplace {
    background-color: #e93824;
    color:#fff;
    font-family: "LatoLight";
    vertical-align: bottom;
    height: 18%;
    margin-top: -1px;
}
#buttonplaceok {
    background-color: #00b9ee;
    color:#fff;
    font-family: "LatoLight";
    vertical-align: bottom;
    height: 18%;
    margin-top: -1px;
}

#info {
    background : url("../img/arrow.png") no-repeat;
    display:inline-block;
    width: 18px;
    height: 18px;
    background-size: contain;
    float: right;
}

#cross {
    background : url("../img/cross.png") no-repeat;
    display:inline-block;
    width: 18px;
    height: 18px;
    background-size: contain;
    float: right;
    margin-right:10px;
    margin-top:10px;
    opacity:0.5;
}

/**/

#bigtitle {
    color:#00b9ee;
    font-family: "Lato";
    font-size:26px;
    text-align:left;
    height: 12%;
}

#bigtitle h1 {
    top: 4%;
    position: absolute;
    margin-left: 35px;
    margin-top: -1px;
}

#back {
    background : url("../img/chevron.png") no-repeat;
    display:inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 26px;
    background-size: contain;
}

#listecontain {
    color:#fff;
    font-family: "LatoLight";
    vertical-align: middle;
    padding-top: 1px;
    padding-bottom: 1px;
}

li {
    padding: 25px 10px;
    background-color: #00b9ee;
    opacity:0.9;
}

.li_active {
    opacity:0.5;
    transition: 0.1s ease;
    -webkit-transition: 0.1s ease;
    -moz-transition: 0.1s ease;
    -o-transition: 0.1s ease;
    -ms-transition: 0.1s ease;
}

h2 {
    font-size:25px;
}
h3 {
    font-size:14px;
    opacity: 0.8;
}

#goscan {
    background : url("../img/scan-btn.png") no-repeat;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 65%;
    background-size: contain;
    position: fixed;
    z-index:99;
    cursor: pointer;
    top: 80%;
    -webkit-filter: drop-shadow(5px 7px 0px rgba(67,144,222,0.5));
}

/**/

.login {
    background-color: rgba(0,185,238,0.8);
}
.loginbutton{
    width: 60%;
    margin-left: 20%;
    margin-top: 40%;
}
.trait{
    border-top: solid 1px #fff;
    width: 15%;
    float: left;
    margin: 2.5%;
}
.or{
    margin-left: 36%;
    margin-top: 5%;
}
#txtor {
    float: left;
    color: #fff;
    font-family: "Lato";
    font-size: 0.8em;
}
#emailbutton{
    border: solid 2px #fff;
    border-radius: 5px;
    width: 59%;
    margin-left: 20%;
    margin-top: 13%;
    min-height: 8%;
    text-align: center;
    vertical-align: middle;
}
#emailtxt{
    line-height: 50px;
    color: #fff;
    font-family: "Lato";
    font-size: 1em;
}