@import "reset.css";

@font-face {
    font-family: "Lato";
    src: url('../img/Lato-Regular.ttf');
}
@font-face {
    font-family: "LatoBlack";
    src: url('../img/Lato-Black.ttf');
}
@font-face {
    font-family: "LatoLight";
    src: url('../img/Lato-Light.ttf');
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato";
    font-size:20px;
}

a {
    text-decoration:none;
    color:#fff;
}

#alerok {
    display:initial;
}
#alerko {
    display:none;
}

#scanko, #scanok {
    text-transform:uppercase;
    color:#e93824;
    font-family: "LatoBlack";
    font-weight: bold;
    font-size:48px;
    text-align:center;
    height: 32%;
}

#scanko h1 {
    top: 11%;
    position: absolute;
    margin-left: 20px;;
}

#scanok h1 {
    top: 11%;
    position: absolute;
    margin-left: 31px;
    color:#00b9ee;
}

#infos {
    background-color: #e93824;
    color:#fff;
    font-family: "LatoLight";
    height: 50%;
    vertical-align: middle;
}

#infoks {
    background-color: #00b9ee;
    color:#fff;
    font-family: "LatoLight";
    height: 50%;
    vertical-align: middle;
}

.title {
    font-family: "Lato";
    padding: 40px 25px 10px 25px;
    display: inline-block;
    font-size: 36px;
}
.description {
    padding: 0 25px 20px;
}
.button {
    background-color:#a92719;
    padding: 14px 0 14px 25px;
    font-size: 17px;
    margin: 1px 0;
}
.buttonok {
    background-color:#1985a9;
    padding: 14px 0 14px 25px;
    font-size: 17px;
    margin: 1px 0;
}
#buttonplace {
    background-color: #e93824;
    color:#fff;
    font-family: "LatoLight";
    vertical-align: bottom;
    height: 18%;
    margin-top: -1px;
}
#buttonplaceok {
    background-color: #00b9ee;
    color:#fff;
    font-family: "LatoLight";
    vertical-align: bottom;
    height: 18%;
    margin-top: -1px;
}

#fleche {
    background : url("../img/arrow.png") no-repeat;
    display:inline-block;
    width: 18px;
    height: 18px;
    background-size: contain;
    float: right;
}

#cross {
    background : url("../img/cross.png") no-repeat;
    display:inline-block;
    width: 18px;
    height: 18px;
    background-size: contain;
    float: right;
    margin-right:10px;
    margin-top:10px;
    opacity:0.5;
}

/**/

.cf:after {
	content: '';
	clear: both;
	display: table;
}

#bigtitle {
	position: fixed;
	background: #fff;
	width: 100%;
	color:#00b9ee;
	font-family: "Lato";
	font-size:26px;
	height: 100px;
	top: 0;
	left: 0;
	z-index: 999;
}

#bigtitle h1, #bigtitle #back {
	float: left;
}

#bigtitle h1 {
	text-align: center;
	line-height: 100px;
	width: 100%;
}

#back {
	position: absolute;
	width: 20%;
	height: inherit;
	top: 0;
	left: 0;
	background : url("../img/chevron.png") no-repeat center center;
	background-size: 12px auto;
}

#listecontain {
	margin-top: 100px;
	color:#fff;
	font-family: "LatoLight";
	vertical-align: middle;
	padding-top: 1px;
	padding-bottom: 1px;
}

li {
	padding: 30px 10px;
	background-color: #00b9ee;	
	opacity:0.9;
}

li_active {
	opacity:0.5;
	transition: 0.1s ease;
	-webkit-transition: 0.1s ease;
	-moz-transition: 0.1s ease;
	-o-transition: 0.1s ease;
	-ms-transition: 0.1s ease;
}

/* Inactive backgrounds */
#listecontain .oeuf {
	background: url("../img/list/oeuf-inactive.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .arachide {
	background: url("../img/list/arachide-inactive.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .poisson {
	background: url("../img/list/poisson-inactive.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .lait {
	background: url("../img/list/lait-inactive.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .soja {
	background: url("../img/list/soja-inactive.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .boeuf {
	background: url("../img/list/boeuf-inactive.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .ble {
	background: url("../img/list/ble-inactive.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .fruits {
	background: url("../img/list/fruits-inactive.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .crustaces {
	background: url("../img/list/crustaces-inactive.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .moutarde {
	background: url("../img/list/moutarde-inactive.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .porc {
	background: url("../img/list/porc-inactive.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .poulet {
	background: url("../img/list/poulet-inactive.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .ail {
	background: url("../img/list/ail-inactive.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .tournesol {
	background: url("../img/list/tournesol-inactive.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .carotte {
	background: url("../img/list/carrots-inactive.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .peche {
	background: url("../img/list/peche-inactive.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .tomate {
	background: url("../img/list/tomate-inactive.jpg") no-repeat center center;
	background-size: cover;
}

/* Active backgrounds */
#listecontain .oeuf-active {  
	background: url("../img/list/oeuf-active.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .arachide-active {
	background: url("../img/list/arachide-active.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .poisson-active {
	background: url("../img/list/poisson-active.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .lait-active {
	background: url("../img/list/lait-active.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .soja-active {
	background: url("../img/list/soja-active.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .boeuf-active {
	background: url("../img/list/boeuf-active.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .ble-active{
	background: url("../img/list/ble-active.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .fruits-active {
	background: url("../img/list/fruits-active.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .crustaces-active {
	background: url("../img/list/crustaces-active.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .moutarde-active {
	background: url("../img/list/moutarde-active.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .porc-active {
	background: url("../img/list/porc-active.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .poulet-active {
	background: url("../img/list/poulet-active.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .ail-active {
	background: url("../img/list/ail-active.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .tournesol-active {
	background: url("../img/list/tournesol-active.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .carotte-active {
	background: url("../img/list/carrots-active.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .peche-active {
	background: url("../img/list/peche-active.jpg") no-repeat center center;
	background-size: cover;
}
#listecontain .tomate-active {
	background: url("../img/list/tomate-active.jpg") no-repeat center center;
	background-size: cover;
}

h2 {
	font-size:25px;
}
h3 {
	font-size:14px;
	opacity: 0.8;
}

#goscan {
	background : url("../img/scan-btn.png") no-repeat;
	width: 100px;
	height: 100px;
	background-size: contain;
	position: fixed;
	z-index:999;
	bottom: 20px;
	right: 20px;
	-webkit-filter: drop-shadow(5px 7px 0px rgba(67,144,222,0.5));
}

/**/

.login {
    background-color: rgba(0,185,238,0.8);
}
.loginbutton{
    width: 60%;
    margin-left: 20%;
    margin-top: 40%;
}
.trait{
    border-top: solid 1px #fff;
    width: 15%;
    float: left;
    margin: 2.5%;
}
.or{
    margin-left: 36%;
    margin-top: 5%;
}
#txtor {
    float: left;
    color: #fff;
    font-family: "Lato";
    font-size: 0.8em;
}
#emailbutton{
    border: solid 2px #fff;
    border-radius: 5px;
    width: 59%;
    margin-left: 20%;
    margin-top: 13%;
    min-height: 8%;
    text-align: center;
    vertical-align: middle;
}
#emailtxt{
    line-height: 50px;
    color: #fff;
    font-family: "Lato";
    font-size: 1em;
}

#main_scanok {
    height: 100%;
    display: none;
}

#main_scanko {
    height: 100%;
    display: none;
}